{
  "plugins": ["prettier-plugin-go-template", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    },
    {
      "files": ["*.html", "*.css", "*.scss", "*.less"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "singleQuote": true
}
